* {
    font-family: 'proxima_novaregular', Arial, Helvetica, sans-serif;
    background-color: #f4f2ef;
    box-sizing: border-box;
    margin: 20px;
    padding: 0;
}

body {
    margin: 40px;
}

#start {
    height: 400px;
    color: #333132; 
    margin-bottom: 40px;
    padding: 25px;
    text-align: center;
}

h1 {
    font-size: 35px;
    color: #333132; 
    margin-bottom: 40px;
}

p {
    font-size: 18px;
    color: #333132; 
    margin-bottom: 40px;
}

#start-quiz {
    font-size: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #333132;
    background: #db9f88;
    border-radius: 15px;
}

#start-quiz:hover {
    cursor: pointer;
    box-shadow: 10px 5px 5px #c7cace;
    transition: transform 1s;
}

#highscores {
    font-size: 20px;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: #333132;
    background: #db9f88;
    border-radius: 15px;
}

#highscores:hover {
    cursor: pointer;
    box-shadow: 10px 5px 5px #c7cace;
    transition: transform 1s;
}

#questionContainer {
    padding: 50px;
}

#question {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#optionList {
    display: grid;
    justify-content: center;
    
}

.choiceOptions {
    display: flex;
    justify-content: center;   
    height: 100px;
    width: 535px;
    background: #db9f88;
    line-height: 30px;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    color: #333132;
}

.choiceOptions:hover {
    cursor: pointer;
    box-shadow: 10px 5px 5px #c7cace;
    transition: transform 1s;
}


#timerContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

#nextContainer {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-end;
}

#next-question {
    font-size: 15px;
    padding: 15px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color: #333132;
    background: #db9f88;
    border-radius: 15px;
}

#next-question:hover {
    cursor: pointer;
    box-shadow: 10px 5px 5px #c7cace;
    transition: transform 1s;
}

.correct {
    background: #02bd6f;
}

.incorrect {
    background: #a50e1d;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

